<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377361534052-oamc6is0c0t7i5tpb60ml8d0qjcvb040.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377361534052-oamc6is0c0t7i5tpb60ml8d0qjcvb040</string>
	<key>API_KEY</key>
	<string>AIzaSyAsFXlLqVm5JSo8sShsxr-VBDk7UA4TaH8</string>
	<key>GCM_SENDER_ID</key>
	<string>377361534052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datayapi.tiktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-app-813d2</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-app-813d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377361534052:ios:2a176ce7886cdc7ea9e371</string>
</dict>
</plist>